<header>
    <div class="view intro-7">
        <div class="full-bg-img">
            <div class="container text-center white-text wow fadeInUp">
                <h3 class="heading_center heading--stroke heading_project_EDF">Stage EDF</h3>
            </div>
        </div>
    </div>
</header>
<div class="col-xs-12 row">
    <h2 class="container text-center mt-5"><b>Titre:</b> Projet G.A.M.A</h2>
    <h4 class="container text-center mt-5"><b>Langages et technologies utilisés:</b> HTML,CSS,Javascript,jQuery,AJAX,outillage DevOps</h4>
    <h4 class="container text-center mt-5">
    <b>Description:</b> Réalisation d'un formulaire d'inscription pour la nouvelle application de gestion des missions d'alternance (G.A.M.A.) au sein de l'entreprise /h4>
    <h4 class="container text-center mt-5 mb-5">Pour savoir plus: <button type="button" class="button_EDF" onclick="window.location.href='https://www.dropbox.com/s/m5l9n82su8p24m2/Rapport%20de%20stage%20EDF.pdf?dl=0'">Cliquez-ici</button></h4>
    <img class="text_report container mt-5 mb-5" src="../../../../../portfolio/app/assets/img/logo-gama.png" alt="">
    <div class="contain container mt-5">
        <div class="content">
            <div class="content-overlay"></div>
            <img class="content-image" src="../../../../../portfolio/app/assets/img/home-sign-up-GAMA.png">
            <div class="content-details fadeIn-top">
                <h4>Accueil Inscription de G.A.M.A</h4>
                <p>Stage EDF</p>
            </div>
            </a>
        </div>
    </div>
    <div class="contain container mt-5">
        <div class="content">
            <div class="content-overlay"></div>
            <img class="content-image" src="../../../../../portfolio/app/assets/img/home-sign-up-GAMA-2.png">
            <div class="content-details fadeIn-top">
                <h4>Accueil Inscription de G.A.M.A</h4>
                <p>Choisir son rôle</p>
            </div>
            </a>
        </div>
    </div>
    <div class="contain container mt-5">
        <div class="content">
            <div class="content-overlay"></div>
            <img class="content-image" src="../../../../../portfolio/app/assets/img/Home-Intern.png">
            <div class="content-details fadeIn-top">
                <h4>Formulaire de la page d'inscription Alternant</h4>
                <p>Stage EDF</p>
            </div>
            </a>
        </div>
    </div>
    <div class="contain container mt-5">
        <div class="content">
            <div class="content-overlay"></div>
            <img class="content-image" src="../../../../../portfolio/app/assets/img/Home-Tutor.png">
            <div class="content-details fadeIn-top">
                <h4>Formulaire de la page d'inscription Tuteur</h4>
                <p>Stage EDF</p>
            </div>
            </a>
        </div>
    </div>
    <div class="contain container mt-5">
        <div class="content">
            <div class="content-overlay"></div>
            <img class="content-image" src="../../../../../portfolio/app/assets/img/Home-Guest.png">
            <div class="content-details fadeIn-top">
                <h4>Formulaire de la page d'inscription Visiteur</h4>
                <p>Stage EDF</p>
            </div>
            </a>
        </div>
    </div>
</div>