<header>
    <div class="view intro-3" style="">
        <div class="full-bg-img">
            <div class="container text-center white-text wow fadeInUp">
                <h3 class="heading_center heading--stroke heading_project">Mes Projets</h3>
            </div>
        </div>
    </div>
</header>

<div class="container">
    <div class="row">
        <div class="col-6 col-md-4">
            <div class="photobox photobox_type17">
                <div class="photobox__previewbox">
                    <img src="./app/assets/img/logo-GSB.png" class="photobox__preview" alt="Preview">
                    <span class="photobox__label">GSB WEB</span>
                </div>
            </div>
        </div>

        <div class="col-6 col-md-4">
            <div class="photobox photobox_type18">
                <div class="photobox__previewbox">
                    <img src="./app/assets/img/logo-GSB.png" class="photobox__preview" alt="Preview">
                    <span class="photobox__label">GSB Matériel</span>
                </div>
            </div>
        </div>

        <div class="col-6 col-md-4">
            <div class="photobox photobox_type18">
                <div class="photobox__previewbox">
                    <img src="./app/assets/img/remontees.gif" class="photobox__preview" alt="Preview">
                    <span class="photobox__label" onclick="location.href='./app/missions/mission.html'">Remontées Mécaniques</span>
                </div>
            </div>
        </div>
    </div>
</div>
