<header>
    <div class="view intro-8">
        <div class="full-bg-img">
            <div class="container text-center white-text wow fadeInUp">
                <h3 class="heading_center heading--stroke heading_project_Altsysnet">Stage Altsysnet</h3>
            </div>
        </div>
    </div>
</header>

<div class="col-xs-12 row">
    <h2 class="container text-center mt-5"><b>Titre:</b> Supervision d'un parcs d'antennes paraboliques</h2>
    <h4 class="container text-center mt-5"><b>Langages et technologies utilisés:</b> cURL,Git,Nagios</h4>
    <h4 class="container text-center mt-5"><b>Description:</b> Récupération de l'état des antennes paraboliques et l'afficher dans un outil de supervision</h4>
    <h4 class="container text-center mt-5 mb-5">Pour savoir plus: <button type="button" class="button_EDF" onclick="window.location.href='https://www.dropbox.com/s/2sk49vtsuuxeb46/Rapport%20de%20stage%201ere%20ann%C3%A9e.pdf?dl=0'">Cliquez-ici</button></h4>
    <div class="contain container mt-5">
        <div class="content">
            <div class="content-overlay"></div>
            <img class="content-image" src="../../../../../portfolio/app/assets/img//dashboard-unifi.png">
            <div class="content-details fadeIn-top">
                <h4>Exemple de Dashboard Unifi</h4>
            </div>
            </a>
        </div>
    </div>
</div>