<header>
    <div class="view intro-6">
        <div class="full-bg-img">
            <div class="container text-center white-text wow fadeInUp">
                <h3 class="heading_center heading--stroke heading_project">GSB WEB</h3>
            </div>
        </div>
    </div>
</header>
<div class="col-xs-12 row">
    <h2 class="container text-center mt-5"><b>Titre:</b> Projet GSB WEB</h2>
    <h4 class="container text-center mt-5"><b>Langage utilisé:</b> PHP,C#,HTML,CSS,jQuery</h4>
    <h4 class="container text-center mt-5"><b>Description:</b> Site web GSB qui regroupe la liste des médicaments (leurs effets, leurs composants et leurs contre-indications) ainsi que la liste des activités et les praticiens qui y participent.</h4>
    
    <div class="contain container mt-5">
        <div class="content">
            <a href="https://unsplash.com/photos/HkTMcmlMOUQ" target="_blank">
                <div class="content-overlay"></div>
                <img class="content-image" src="../../../../../portfolio/app/assets/img/sign_in-GSB-WEB.png">
                <div class="content-details fadeIn-top">
                    <h4>Page de connexion</h4>
                </div>
            </a>
        </div>
    </div>

    <div class="contain container mt-5">
        <div class="content">
            <a href="https://unsplash.com/photos/HkTMcmlMOUQ" target="_blank">
                <div class="content-overlay"></div>
                <img class="content-image" src="../../../../../portfolio/app/assets/img/home-GSB-WEB.png">
                <div class="content-details fadeIn-top">
                    <h4>Page d'accueil</h4>
                </div>
            </a>
        </div>
    </div>

    <div class="contain container mt-5">
        <div class="content">
            <a href="https://unsplash.com/photos/HkTMcmlMOUQ" target="_blank">
                <div class="content-overlay"></div>
                <img class="content-image" src="../../../../../portfolio/app/assets/img/detail-med-GSB-WEB.png">
                <div class="content-details fadeIn-top">
                    <h4>Detail des Médicaments</h4>
                </div>
            </a>
        </div>
    </div>
    
    <div class="contain container mt-5">
        <div class="content">
            <a href="https://unsplash.com/photos/HkTMcmlMOUQ" target="_blank">
                <div class="content-overlay"></div>
                <video controls class="content-image" src="../../../../../portfolio/app/assets/img/experience-GSB-WEB.mov"></video>
                <div class="content-details fadeIn-top">
                    <h4>Expérience</h4>
                </div>
            </a>
        </div>
    </div>
</div>