<header>
    <div class="view intro-2">
        <div class="full-bg-img">
            <div class="mask flex-center">
                <div class="container text-center white-text wow fadeInUp">
                </div>
            </div>
        </div>
    </div>
</header>

<div class="container pt-5">
    <div class="row">
        <div class="col-12">
            </br>
            <h3 class="heading heading--stroke heading--shadow">Bienvenue sur mon portofolio</h3>
            </br>
            <p>Je suis Florian COURTHIEU, j'ai 19 ans, après avoir obtenu mon Baccalauréat Economique & Sociale, je me suis orienté vers une formation en informatique qui correspond à mes attentes.</p>
            <p>Pour cela j'ai intégré le BTS Services Informatiques aux Organisations. Celui-ci m'a permis de me familiariser avec les outils utilisés actuellement dans les entreprises. Ma formation initiale ainsi que les expériences professionnelles m'ont conforté dans mon choix de poursuivre ce cursus.</p>
            <p>J'ai créé ce portfolio pour faire découvrir mes travaux et partager mon intérêt pour les nouvelles technologies.</p>
        </div>
    </div>
</div>