
<div class="row">
  <div class="col-xs-12">
    <img src="app/assets/img/digital.gif" width="80%">
  </div>
  <div class="col-xs-12 col-sm-8">
    <h1 class="font-name">Florian COURTHIEU</h1> 
  </div>
  <div class="col-xs-12 col-sm-4">
      <h2 class="pull-right-md">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
      <div class="wrapper">
        <i class="fa fa-github-square"><a href="https://github.com/Floriancrt"></a></i>
        <i class="fa fa-instagram" href=""></i>
      </div>
      </h2>
    </div>

  </div>
</div>

<div class="row">
  <div class="col-xs-12 col-md-8">
    <p>Je suis Florian COURTHIEU, j'ai 19 ans, après avoir obtenu mon Baccalauréat Economique & Sociale, je me suis orienté vers une formation en informatique qui correspond à mes attentes.</p>

    <p>Pour cela j'ai intégré le BTS Services Informatiques aux Organisations. Celui-ci m'a permis de me familiariser avec les outils utilisés actuellement dans les entreprises. Ma formation initiale ainsi que les expériences professionnelles m'ont conforté dans mon choix de poursuivre ce cursus.</p>

    <p>J'ai créé ce portfolio pour faire découvrir mes travaux et partager mon intérêt pour les nouvelles technologies.</p>

  </div>

  <div class="col-xs-12">
    
  </div>
</div>