<header>
    <div class="view intro-5">
        <div class="full-bg-img">
            <div class="mask flex-center">
                <div class="container text-center white-text wow fadeInUp">
                    <h3 class="heading_center heading--stroke heading_mission">Mes Missions</h3>
                </div>
            </div>
        </div>
    </div>
</header>

<div class="col-xs-12 col-md-6 col-6">
    <div class="photobox photobox_type17">
        <div class="photobox__previewbox">
            <img src="./app/assets/img/logo-EDF.png" class="photobox__preview" alt="Preview">
            <span class="photobox__label">Stage EDF</span>
        </div>
    </div>
</div>

<div class="col-xs-12 col-md-6 col-6">
    <div class="photobox photobox_type18">
        <div class="photobox__previewbox">
            <img src="./app/assets/img/logo-Altsysnet.png" class="photobox__preview" alt="Preview">
            <span class="photobox__label">Stage Altsysnet</span>
        </div>
    </div>
</div>
</div>