<header>
    <div class="view intro-6">
        <div class="full-bg-img">
            <div class="container text-center white-text wow fadeInUp">
                <h3 class="heading_center heading--stroke heading_project">GSB Matériel</h3>
            </div>
        </div>
    </div>
</header>
<div class="col-xs-12 row">
    <h2 class="container text-center mt-5"><b>Titre:</b> Projet GSB Matériel</h2>
    <h4 class="container text-center mt-5"><b>Langage utilisé:</b> C#</h4>
    <h4 class="container text-center mt-5"><b>Description:</b> Gestion du matériel informatique au sein de l'entreprise GSB</h4>
    <div class="contain container mt-5">
        <div class="content">
            <div class="content-overlay"></div>
            <img class="content-image" src="../../../../../portfolio/app/assets/img/Connexion-GSB-Materiel.png">
            <div class="content-details fadeIn-top">
                <h4>Page de connexion</h4>
                <p>GSB Matériel</p>
            </div>
            </a>
        </div>
    </div>
    <div class="contain container mt-5">
        <div class="content">
            <div class="content-overlay"></div>
            <img class="content-image" src="../../../../../portfolio/app/assets/img/Home-guest-GSB-Materiel.png">
            <div class="content-details fadeIn-top">
                <h4>Accueil Administrateur</h4>
                <p>Partie Visiteur</p>
            </div>
            </a>
        </div>
    </div>
    <div class="contain container mt-5">
        <div class="content">
            <div class="content-overlay"></div>
            <img class="content-image" src="../../../../../portfolio/app/assets/img/Home-technician.png">
            <div class="content-details fadeIn-top">
                <h4>Accueil Administrateur</h4>
                <p>Partie Technicien</p>
            </div>
            </a>
        </div>
    </div>
    <div class="contain container mt-5">
        <div class="content">
            <div class="content-overlay"></div>
            <img class="content-image" src="../../../../../portfolio/app/assets/img/Home-request.png">
            <div class="content-details fadeIn-top">
                <h4>Accueil Administrateur</h4>
                <p>Partie Demande(s)</p>
            </div>
            </a>
        </div>
    </div>
</div>