<h2 class="etudes">2019 - 2020</h2>

<h3 class="etudes"><b>Bachelor Développement Web</b></h3>

<p class="etudes">Institut de l'Internet et du Multimédia/ Paris La Défense (92)</p>

<h2 class="etudes">2017 - 2019</h2>

<h3 class="etudes"><b>BTS SIO option SLAM (Solutions Logicielles et Applications Métiers)</b></h3>

<p class="etudes">Lycée Général & Technologique Henri Matisse / CUGNAUX (31)</p>

<h2 class="etudes">2014 - 2017</h2>

<h3 class="etudes"><b>Baccalauréat Economique & Sociale Option Mathématiques</b></h3>

<p class="etudes">Lycée Général & Technologique de Bagatelle / ST-GAUDENS (31)</p>




