<h2 class="etudes">Janvier 2019 - Février 2019</h2>

<h3 class="etudes"><b>EDF - Développeur Back et Front End</b></h3>

<p class="etudes">Réalisation d'un formulaire d'inscription pour la nouvelle application de gestion des missions d'alternance (G.A.M.A.) au sein de l'entreprise </p>

<h2 class="etudes">Juin 2019</h2>

<h3 class="etudes"><b>Altsysnet - Programmeur Réseau</b></h3>

<p class="etudes">Récupération de l'état des antennes paraboliques et l'afficher dans un outil de supervision </p>

