<div class="col-xs-12 row">
  <h1 class="etudes">Veille Technologique </h1>
  <h2 class="etudes">IoT (Internet des Objets)</h2>
  <img class="img_center" src="./app/assets/img/report.png" alt="">
  <img class="text_report" src="./app/assets/img/report_1.png" alt="">
  <img class="text_report" src="./app/assets/img/report_2.png" alt="">
  <img class="img_report" src="./app/assets/img/report_3.png" alt="">
  <img class="text_report" src="./app/assets/img/report_4.png" alt="">
  <img class="text_report" src="./app/assets/img/report_5.png" alt="">
  <img class="text_report" src="./app/assets/img/report_6.png" alt="">
  <img class="text_report" src="./app/assets/img/report_7.png" alt="">
</div>


  <div class="col-xs-12"> 
    
    </div>
  
</div>
