<header>
    <div class="view intro-4" style="">
        <div class="full-bg-img">
            <div class="container text-center white-text wow fadeInUp">
                <h3 class="heading_center heading--stroke heading_report">Veille Technologique</h3>
            </div>
        </div>
    </div>
</header>
<div class="col-xs-12 row">
    <div class="container text-center title_report">Internet of Things (IoT)</div>
        <img class="text_report" src="./app/assets/img/report_1.png" alt="">
        <img class="text_report" src="./app/assets/img/report_2.png" alt="">
        <img class="img_report" src="./app/assets/img/report_3.png" alt="">
        <img class="text_report" src="./app/assets/img/report_4.png" alt="">
        <img class="text_report" src="./app/assets/img/report_5.png" alt="">
        <img class="text_report" src="./app/assets/img/report_6.png" alt="">
        <img class="text_report" src="./app/assets/img/report_7.png" alt="">
    </div>
